# Virtual Environment
venv/
env/
.venv/

# Environment Variables
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class

# VS Code
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Build files
build/
dist/
*.egg-info/